[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
python-dateutil = "*"
pygments = "*"
psycopg2-binary = "*"
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
dj-static = "*"

[requires]

python_version = "3.6"
